<!doctype html>
<html>
    <head>
        <link rel="stylesheet" 
        href="style.css">
    </head>
    <body>

        <h1>This is an h1 header: Recipe Recommender</h1>
        <h2>This is h2: Try new recipes!</h2>
        <h3>This is h3:(need fancier title)</h3>
        <a href="https:mimo.app/r/">This is a hyperlink</a>

        <button>Search</button>

        <p><strong>Practice more with stylesheet rules!</strong></p>

        <button>Let's go!</button>
        <br>
        <button><em>Yes!</em></button>

        <p>Things to do for website:</p>
        <li>Connect to code</li>
        <li>Make it mobile-friendly</li>
        <li>Add search box</li>
        <li>Add drop-down</li>
        <li>Edit stylesheet</li>
        <li>Find and Add pictures**</li>
        <li>Individual picture shape & size? proportions</li>
        <li>Add button</li>

        <p>Images of foods!</p>
        
        <img src='https://storage.needpix.com/rsynced_images/skewer-3370443_1280.jpg'>
        <img src='https://storage.needpix.com/rsynced_images/pasta-1403169_1280.jpg'>
        <img src='https://storage.needpix.com/rsynced_images/japanese-food-2199962_1280.jpg'>
        <img src='https://storage.needpix.com/rsynced_images/food-1351290_1280.jpg'>
        <img src='https://storage.needpix.com/rsynced_images/steamed-stuffed-bun-1162751_1280.jpg'>
    </body>

</html>