<!DOCTYPE html>
<html lang="en">

<head>
  <title>Pic-a-Recipe Recommender</title>
  <!--<link rel="stylesheet" 
  href="style.css">  not seeing stylesheet take effect-->
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>

<body>


    <!--The HTML <form> element defines a form that is used to collect user input:-->
    

      <form>
          <p><strong>Enter image url:</strong></p>
          <br>
          <input type="url" name="image_url">
 

          <br>
        <button type="button" onclick= >Get Recipes!</button> <!--change style of button, hover, colour-->
      </form>
      <img src='https://storage.needpix.com/rsynced_images/japanese-food-2199962_1280.jpg'>




</body>
</html>